<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhku.mapper.BillOperatorMapper">
  <resultMap id="BaseResultMap" type="edu.zhku.pojo.BillOperator">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, bid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bill_operator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bill_operator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zhku.pojo.BillOperator">
    insert into t_bill_operator (id, oid, bid)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{bid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.zhku.pojo.BillOperator">
    insert into t_bill_operator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="bid != null">
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zhku.pojo.BillOperator">
    update t_bill_operator
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zhku.pojo.BillOperator">
    update t_bill_operator
    set oid = #{oid,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>







  <!--batch insert-->
  <insert id="insertBillOperatorsForList" parameterType="java.util.List">
      insert into t_bill_operator (id, oid, bid) values 
      <foreach collection="billOperators" separator="," item="item">
          (
            #{item.id,jdbcType=INTEGER},
            #{item.oid,jdbcType=VARCHAR},
            #{item.bid,jdbcType=VARCHAR}
        )
      </foreach>
  </insert>
</mapper>