<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhku.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="edu.zhku.pojo.Item">
    <id column="iid" jdbcType="INTEGER" property="iid" />
    <result column="iname" jdbcType="VARCHAR" property="iname" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="media" jdbcType="VARCHAR" property="media" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="mid" jdbcType="VARCHAR" property="mid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    iid, iname, price, unit, media, description, mid, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_item
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_item
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zhku.pojo.Item">
    insert into t_item (iid, iname, price, 
      unit, media, description, 
      mid, status)
    values (#{iid,jdbcType=INTEGER}, #{iname,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{unit,jdbcType=VARCHAR}, #{media,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{mid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zhku.pojo.Item">
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        iid,
      </if>
      <if test="iname != null">
        iname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="media != null">
        media,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="iname != null">
        #{iname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="media != null">
        #{media,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zhku.pojo.Item">
    update t_item
    <set>
      <if test="iname != null">
        iname = #{iname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="media != null">
        media = #{media,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zhku.pojo.Item">
    update t_item
    set iname = #{iname,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      unit = #{unit,jdbcType=VARCHAR},
      media = #{media,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where iid = #{iid,jdbcType=INTEGER}
  </update>











  <delete id="deleteItemsById" parameterType="java.util.List">

    delete from t_item where iid in
    <foreach collection="ids" open="(" separator="," close=")" item="item">
      #{item}
    </foreach>
  </delete>



</mapper>